{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('stylesheets/register.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Add Profile{% endblock%}

{% block body %}
<h1>Add profile</h1>

<form action="{{ path('register') }}" method="post" {{ form_enctype(form) }} class="register">

    {{ form_row(form.username) }}

    {{ form_row(form.lastname) }}

    {{ form_row(form.firstname) }}

    {{ form_row(form.password) }}

    {{ form_row(form.repeatedPassword) }}

    {{ form_row(form.email) }}

    {{ form_row(form.birthday) }}

    {{ form_row(form.gender) }}

    {{ form_row(form.agree) }}

    {{ form_row(form.Register) }}

</form>
{% endblock %}

{% block container %}{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/register.js') }}" type="text/javascript"></script>
    <script>
    $('.addProfile').addClass('current');
    </script>
{% endblock %}

